# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual environments
venv/
env/

# Database
*.db
*.sqlite3

# Node modules
node_modules/

# React Native
*.log
.DS_Store

# Build outputs
build/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml

# OS
Thumbs.db




# temp
docker*